div{
    
    .mainContent{
        display: flex;
        width: 100%;
    }
    h2{
        color: #ffffff;
        text-align: center;
    }

    h3{
        margin: 1rem 0;
        text-align: center;
        color: #ffffff;
    }

    .userBar{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 25rem;
        background-color: #0b1933;
        height: 100%;
        overflow: auto;
        
        a{
            display: block;
            color: #ffffff;
            padding: 16px;
            text-decoration: none;
            border-top: solid 1px #E1E1E6; 


            &:hover:not(.active){
                background-color: #3b465b;
                color: white;
            } 

            &:last-child{
                border-bottom: solid 1px #E1E1E6; 
            }
        }

        .active{
            background: #010205;
        }
    }


  
        .debtContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #232d45;
            width: 100%;

            .titleDivida{
                position: absolute;
                top: 1rem;
                
                h1{
                    color:#f1f1f1;
                }
            }
            
            .debtList {
                width: 50%;
                background: #3d4f79;
                margin-bottom: 0.4rem;
                text-align: center;
                box-shadow: 1px 1px black;
                transition: filter 0.2s;
        
                &:hover{
                    filter: brightness(0.9)
                }

                @media (max-width: 720px){
                    
                    width: 90%;
                }
            }
            
           
            img{
                height: 20%;
            }
            
            
        }

        .newDebtDiv{          
            position: absolute;
            right: 1rem;
            top:1rem;
                        
            .newDebt{
                font-size: 1rem;
                color: #fff;
                background: #6933FF;
                border: 0;
                padding: 0 2rem;
                border-radius: 0.25rem;
                height: 3rem;
                transition: filter 0.2s;
        
                &:hover{
                    filter: brightness(0.9)
                }
            }   
        }

        @media (max-width: 720px){
            .newDebtDiv{          
                position: absolute;
                width: 50%;
                top: 90%;
                left: 1rem;
                .newDebt{
                
                padding: 0 0.5rem;
                   
                }
            }

            h1{
                text-align: center;
            }
        }
        
}